@model IEnumerable<AppLibros.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>

@using (Html.BeginForm())
{
    <div>
        <label for="busqueda2">Buscar por nombre o apellido</label>
        <p id="busqueda2">
            @Html.TextBox("testo")
        </p>
        <input type="submit" asp-action="buscarAutor" value="Buscar" />
    </div>
}

<p>
    <a asp-action="Create">Nuevo Autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                Cantidad de libros
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.libros.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
